#card {
    /* overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;*/

    /* display: flex; */
    justify-content: center;
    align-items: center;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;

    z-index: 1055;
    /* width: 100%; */
    pointer-events: auto;
    border-radius: 15px;
    max-width: 500px;
    max-height: 400px;

    background-color: #fff;
    background-clip: padding-box;
    font-family: 'Kaisei HarunoUmi', serif;
}

.card-info {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.card-img {
    display: block;
    margin: 32px 25px 16px 25px;
    width: calc(100% - 50px);
    height: 218px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
    object-fit: cover;
}

.card-body {
    padding: 0 25px 34px 25px;
}

.card-title {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.45;
    letter-spacing: 2px;
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
}

.card-description {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.45;
    letter-spacing: 1.4px;
    text-align: justify;
    margin: 0;
}

@media (max-width: 767px) {
    .card-info {
        position: sticky;
        bottom: 0;
    }

}