#card {
    display: none;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    /* margin: 1.75rem auto; */
    width: 100%;
    min-height: 100vh;
    outline: 0;
    padding: 20px;
}

.card-info {
    max-width: 490px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    font-family: 'Kaisei HarunoUmi', serif;
}

.card-img {
    display: block;
    margin: 32px 25px 16px 25px;
    width: calc(100% - 50px);
    height: 218px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
    object-fit: cover;
}

.card-body {
    padding: 0 25px 34px 25px;
}

.card-title {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.45;
    letter-spacing: 2px;
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
}

.card-description {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.45;
    letter-spacing: 1.4px;
    text-align: justify;
    margin: 0;
}